.cart {
    max-width: 1200px;
    margin: 60px auto;
}

.cart h1 {
    margin-bottom: 20px;
}

.container-cart {
    display: flex;
    align-items: start;
    gap: 20px;
}

.cart-list {
    width: 900px;
    background: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 5px 10px #00000010;
}

.cart-list thead th {
    text-align: start;
    text-transform: uppercase;
    padding: 5px 10px 15px 10px;
}

.th-product {
    width: 400px;
}

.th-quantity {
    width: 200px;
}

.th-price {
    width: 200px;
}

.th-delete {
    width: 60px;
}

.cart-list tbody tr:last-child td {
    border-bottom: none;
}