input[type='password']:focus + .pintsForSecurePassword, input[type='text']:focus + .pintsForSecurePassword{
    height: 90px;
}

.pintsForSecurePassword {
    overflow: hidden;
    height: 0;
    transition: .3s;
    position: relative;
}

.passwordNotice {
    position: absolute;
    right: 0;
    top: 0;
}

.passwordNotice p {
    display: none;
    padding: 5px;
    border-radius: 5px;
    background: #000000dd;
    color: #fff;
    font-size: 14px;    
    font-weight: 300;
    position: absolute;
    right: calc(115% + 13px);
    top: 5px;
    width: 250px;
    line-height: 15px;
}

.passwordNotice p b {
    color: #fff;
}

.passwordNotice:hover p{
    display: block;
}

.passwordNotice i {
    font-size: 14px;
    color: var(--dark-grey);
    position: relative;
    left: -13px;
}

.pintsForSecurePassword ul{
    margin-top: 5px;
    padding-left: 15px;
    font-size: 14px
}

.fa-eye-slash, .fa-eye {
    position: absolute;
    top: 20px;
    right: 10px;
    color: var(--dark-grey);
}