.profile {
    max-width: 1200px;
    margin: 40px auto;
    gap: 20px;
    display: grid;
    grid-template-columns: 250px 930px;
}

.profile-sections {
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 20px;
    background: var(--white);
    margin-bottom: 10px;
    box-shadow: 0 5px 10px #00000010;
}

.profile-user-name {
    font-size: 22px;
    text-align: center;
    margin: 10px 0 5px;
}

.profile-user-email {
    font-size: 16px;
    display: block;
    text-align: center;
    color: var(--primary);
}

.user-nav li a, .user-nav li button {
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.user-nav li button {
    background: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border: none;
}

.user-nav li a i, .user-nav li button i {
    margin-right: 10px;
    display: inline-block;
    width: 15px;
}

.user-nav li a:hover, .user-nav li button:hover {
    background: var(--background);
}