.form-password-reset {
    max-width: 350px;
    margin: 60px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    padding: 15px 20px 20px;
    background: var(--white);
    box-shadow: 0 5px 10px #00000010;
}

.form-password-reset h1 {
    font-size: 24px;
    margin-bottom: 5px;
    /* text-align: center; */
}

.form-password-reset p {
    color: var(--dark-grey);
    font-weight: 300;
}

.form-password-reset input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid var(--light-grey);
    margin-top: 30px;
}

.container-btn-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.container-btn-submit button {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background: var(--primary);
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}

.container-btn-submit button:active {
    outline: 1px solid var(--primary);
    outline-offset: 2px;
}

.success {
    background: #89fb5333;
    border: 0.5px solid #5f974450;
    color: #5f9744;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0 10px;
    width: 100%;
}

.success + a {
    display: block;
    text-align: end;
    padding-right: 10px;
    color: var(--primary);
}