.product-cart td {
    border-bottom: 1px solid var(--light-grey);
}

.product-cart tr:last-child {
    border-bottom: none;
}

.td-product a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.td-product a img {
    width: 40px;
    max-height: 40px;
    object-fit: contain;
}

.td-product a span {
    width: 100%;
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
}

.td-product a:hover span {
    text-decoration: underline;
}

.td-quantity {
    padding: 10px;
}

.td-quantity .loading {
    animation: load 1.4s infinite linear;
    margin: 0;
    height: 30px;
    width: 30px;
}

@keyframes load {
    0% {
        transform: scale(.5) rotate(0deg);
    }

    100% {
        transform: scale(.5) rotate(360deg);
    }
}

@keyframes load {
    0% {
        transform: scale(.5) rotate(0deg);
    }

    100% {
        transform: scale(.5) rotate(360deg);
    }
}

.td-quantity div {
    display: flex;
    align-items: center;
}

.td-quantity input {
    display: inline-block;
    width: 50px;
    height: 30px;
    border: none;
    text-align: center;
    font-size: 15px;
    border: none;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    background: var(--background);
}

.td-quantity button[type='button'] {
    background: var(--background);
    color: var(--primary);
    font-size: 20px;
    height: 30px;
    width: 30px;
    border: none;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--secondary);
}

.td-quantity button[type='button']:nth-child(1) {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.td-quantity button[type='button']:nth-child(3) {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.td-quantity button[type='button']:active {
    background: var(--secondary);
}

.td-quantity span {
    color: var(--dark-grey);
    font-size: 14px;
    display: inline-block;
    transform: translate(5px, 3px);
}

.td-price {
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
}

.td-price span {
    color: var(--dark-grey);
    font-weight: 300;
    font-size: 14px;
}

.td-delete {
    padding: 10px;
}

.delete-product-cart {
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

.delete-product-cart span {
    font-weight: 300;
    border-radius: 5px;
    color: var(--white);
    padding: 5px 7px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 110%;
    background: #00000099;
    font-size: 13px;
    pointer-events: none;
}

.delete-product-cart:hover {
    background: #ec575a30;
}

.delete-product-cart:hover i {
    color: #ec575a;
}

.delete-product-cart:hover span {
    opacity: 1;
    transition: opacity .3s;
}