.shopping-cart {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.shopping-cart i {
    transform: rotateY(180deg);
    font-size: 22px;
}

.shopping-cart span {
    position: absolute;
    top: -7px;
    left: 0;
    display: inline-block;
    font-size: 11px;
    height: 15px;
    width: 15px;
    text-align: center;
    background: var(--primary);
    border-radius: 50%;
    color: #fff;
}
