header {
    width: 100%;
    background: var(--white);
    padding-top: 15px;
    box-shadow: 0 5px 10px #00000010;
}

header > div {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header > div > div {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 280px;
}

.logo {
    justify-content: start;
}

.logo a{
    font-size: 26px;
    /* font-weight: 300; */
}