@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Bold.ttf');
  font-weight: 700;
}

:root {
  --dark-text: #575758;
  --clear-text: #f5f5f5;
  --primary: #3d5a80;
  --secondary: #3d5a8033;
  --light-grey: #eee;
  --white: #fff;
  --background: #f5f5f5;
  --dark-grey: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
  color: var(--dark-text);
  font-weight: 400;
  outline-color: var(--secondary);
}

*::selection {
  background: #00000020
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}